
button[class="pin"]{
    display:flex;
    float:inline-start;
    position: relative !important;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    align-items: center;
}
.red-container{
    border:1px solid darkseagreen;
    border-radius: 10px;
}